/* 用于数字 */
@font-face{
    font-family: 'CUSTOM-DIN';
    src: url('D-DIN-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.57px;
}
/* 用于标题 */
@font-face{
    font-family: 'NotoSansHans-Bold';
    src: url('NotoSansHans-Black.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.57px;
}